header {
  padding : 10px;
  background-color : darkblue;
  display : flex;
  flex-direction: row;
  font-family: Tahoma;
  font-size : large;
  font-weight: 200;
}

.menuLink {

}

.logonLink {
  flex-grow: 1;
  text-align: right;
  color: white;
}

header a:link {
  font-family: Tahoma;
  font-size : large;
  font-weight: 200;
  color : white;
  text-decoration:none;
  padding : 10px;
}

header a:last-of-type {
  color : red;
}

header a:visited {
  color : white;
}

header a:hover {
  color :red;
  text-decoration: none;
}

