header {
  padding : 10px;

  display : flex;
  flex-direction: row;
  font-family: Tahoma;
  font-size : large;
  font-weight: 200;
  background-color: #175b5b;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}

.menuLink {

}

.logonLink {
  flex-grow: 1;
  text-align: right;
  color: white;
}

header a:link {
  font-family: Tahoma;
  font-size : large;
  font-weight: 200;
  color : white;
  text-decoration:none;
  padding : 10px;
}

header a:last-of-type {
  color : red;
}

header a:visited {
  color : white;
}

header a:hover {
  color :red;
  text-decoration: none;
}

