<div>

  <div *ngIf="!this.quiz">
    No quiz found
  </div>
  <div *ngIf="this.quiz">
  <div class="quizControls">
    <app-timer></app-timer>
    <button md-raised-button (click)="handleShowAnswers(); ">Show Answers</button>

    <button md-raised-button (click)="handleGoToScores(); ">Scores</button>

  </div>

  <div *ngFor="let starLevel of this.quiz.starLevels">
    <!-- StarLevel -->

      <md-card [@showQuestions]="this.showQuestions" class="starLevel">

        <div class="starLevelIndicator">
          <img src="/img/Star{{starLevel.stars}}.png"/>
        </div>

        <div class="starLevelQuestions">

          <app-star-level-type type="+"
                               [questions]="starLevel.additionQuestions"
                               [showAnswers]="this.showAnswers">
          </app-star-level-type>
          <app-star-level-type type="-"
                               [questions]="starLevel.subtractionQuestions"
                               [showAnswers]="this.showAnswers">
          </app-star-level-type>
          <app-star-level-type type="x"
                               [questions]="starLevel.multiplicationQuestions"
                               [showAnswers]="this.showAnswers">
          </app-star-level-type>
          <app-star-level-type type="÷"
                               [questions]="starLevel.divisionQuestions"
                               [showAnswers]="this.showAnswers">
          </app-star-level-type>

        </div>
      </md-card>
  </div>

  </div>
</div>
