/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  margin : 0px;
}
#viewPort {
  padding : 0px;
  background-color: #d2f0f0;
  display:flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  flex : 1;

}

a:link {
  font-family: Tahoma;
  font-size : large;
  font-weight: 200;
  color : #7d7d7d;
  text-decoration:none;
}

a:visited {
  color : #7d7d7d;
}

a:hover {
  color :red;
  text-decoration: none;
}
